.result {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  display: flex;
  min-width: 40rem;
  margin: 2rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.result p {
  color: var(--secondary-color);
  font-weight: var(--fw-bold);
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

@media (max-width: 992px) {
  .result {
    margin: 1rem;
    min-width: 35rem;
  }
}

@media (max-width: 576px) {
  .result {
    margin: 1.5rem;
    min-width: 0rem;
  }

  .result p {
    font-size: 2.5rem;
  }
}
